<div>
    <p><strong>Author:</strong>{{quote.author}}</p>
    <P><span style="color: white; outline: #4CAF50 solid 1px; border: 1px solid #4CAF50;;">UpVote</span> {{quote.upVote}}</P>
    <P><span style="color: whitesmoke; outline: #00a2ff solid 1px; border: 1px solid #00a2ff;;">DownVote</span>{{quote.downVote}}</P>
    <p><strong>Posted by:</strong> {{quote.editor}}</p>
    <p><strong>Posted on:</strong>{{quote.completeDate|date}}</p>
    
</div>


<!--<p>Posted on {{quote.completeDate|dateCount}} period</p> -->







 
